<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Continued</h1>
    <form action="summary" method="get">
        <label><input type="checkbox"
                      name="conds[]"
                      value="mayonnaise"> Mayonnaise</label><br>
        <label><input type="checkbox"
                      name="conds[]"
                      value="ketchup"> Ketchup</label><br>
        <label><input type="checkbox"
                      name="conds[]"
                      value="mustard"> Mustard</label><br>
        <label><input type="checkbox"
                      name="conds[]"
                      value="sriracha"> Sriracha</label><br>
        <input type="submit" value="Next >>">
    </form>
</body>
</html>